<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <title>Taskbar</title>
    <link rel='stylesheet' type='text/css' href='../css/taskbarStyle.css'/>
    <link rel='stylesheet' type='text/css' href='../css/buttons.css'/>
  </head>
  <body>
    <div class='container'>
      <div id='aboutButton' class='button'>Icon</div>
      <div id='feedbackButton' class='textbutton animate attention'>Feedback</div>
      <div id='endButtonBag'>
        <div id='endButton' class='button'>End</div>
        <div class='badge'>
          <div class='badgeDetail'>0</div>
        </div>
      </div>
    </div>
    <!-- div id='helpButton' class='button'>Help</div -->
  </body>
  <script src='../bower_components/jquery/jquery.js' type='text/javascript'></script>
  <script src='../js/input.js' type='text/javascript'></script>
</html>
